<h1>Acerca de nosotros</h1>
<div class="card">
	<div class="card-body">
		<h1>About Us</h1>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quaerat
			quod unde recusandae ipsam fuga tenetur officiis dicta suscipit corporis.
			Labore, rem praesentium! Odio, doloribus molestiae voluptate provident
			assumenda neque maiores voluptatum expedita est cumque perferendis vel
			modi eaque illum nobis sapiente magni libero dolor esse voluptatem ipsam!
			Vel, voluptate?
		</p>
    <a href="/" class="btn btn-outline-primary btn-lg ">Index</a>
	</div>
</div>