<div class="row">
	<div class="col-md-4 mx-auto">
		<div class="card mt-4 text-center"> 
			<div class="card-header">
				Account login
			</div>
			<div class="mt-2">
				<img
					src="/img/google.png"
					class="card-img-top logo mx-auto"
					alt="Logo"
				/>
			</div>
			<div class="card-body ">
				<form action="/users/signin" method="POST">
					<div class="mb-3">
						<input type="email" class="form-control" placeholder="Email" name="email" autofocus/>
					</div>
					<div class="mb-3">
						<input type="password" class="form-control" placeholder="Password" name="password" />
					</div>
					<div class="mb-3 d-grid gap-4 ">
						<button type="submit" class="btn btn-outline-primary">Sign In</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>